
.Map1 {
    
    /*background-color: black;*/
    height: 100vh;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.Map {
    
    /*background-color: black;*/
    height: 100vh;
    text-align: center;
}

.Floorplan {
    height: 80%;
}
.youarehere {
    
    width: 70%;
}
.roombuttons { 
    display: grid;
    justify-content: center;
    border: 0;
    margin: 0;
    padding: 0;
    /*flex-wrap: wrap;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.button {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

}
.rtnbutton {
    width: 13%;
    padding: 0;
    margin: 0;
    border: 0;

}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin-bottom: 0%
    ;
}